.section {
    display: flex;
    width: 100%
}
.section:not(:first-of-type) {
    margin-top: 60px;
}
.section-header {
    margin-bottom: 40px;
    text-align: center;
    font-size: 20px;
}
.section-header h1 {
    font-size: 38px;
    font-weight: normal;
}


.content {
    max-width: 960px;
    width: 90%;
    margin: 0 auto;
}

.row {
    float: left;
    width: 100%;
}

.testemunhas {
    padding: 100px 0; /* afastamento de 160px em cima e em baixo. e 0 dos lados */
    background-image: url('/public/images/bg.png');
}
.testemunhas-article {
    float: left;
    background: rgba(255,255,255, .7);
    width: 100%;
    font-size: 12px;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
.testemunhas-article h1 {
    font-size: 16px;
    font-weight: normal;
    margin-bottom: 20px;
    padding-left: 12px;
    border-left: 8px solid #0EFC4E;
    
}

.testemunhas-article .image img {
    width: 250px;
    height: 250px;
}

.testemunhas-article .image {
    overflow: hidden;
    float: left;
    margin-right: 10px;
    width: 83px;
    height: 83px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}
.testemunhas-article p {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 83px;
}
.testemunhas-article .name {
    color: #a70606;
    font-weight: bold;
}

@media (min-width: 768px){
    /*testemunhas*/
    .testemunhas-article {
        width: calc((100% - 8%) / 2);
        margin-right: 4%;
        margin-bottom: 4%;
    }
    .testemunhas-article:last-of-type {
        margin-right: 0;
    }
}

/*AUXILIARES
------------------------------------------------*/
/*bg-fixed*/
.bg-fixed {
    background-size: cover; /* ajusta a imagem dentro do box */
    background-position: center;
    background-attachment: fixed; /* qnd rolar a barra de rolagem a imagem vai ficar fixa*/
    background-repeat: no-repeat;
}