.content-services {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: url('/public/images/bg.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #fff;
    padding-top: 20px;
    padding-bottom: 20px;
}

.bloco {
    display: flex;
    flex-wrap: wrap;
    background-color: #1b1919;;
    width: 80%;
    height: 200px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
}

.imagem-1, .imagem-2, .imagem-3 {
    width: 50%;
    height: 200px;
    float: left;
    background-size: cover;
    box-sizing: border-box;
}
.imagem-1  {
    background-image: url('/public/images/img-7.jpg');
    border-radius: 10px 0 0 10px;
}
.imagem-2  {
    background-image: url('/public/images/img-5.jpg');
    border-radius: 0px 10px 10px 0px;
}
.imagem-3  {
    background-image: url('/public/images/img-8.jpg');
    border-radius: 10px 0 0 10px;
}

.texto {
    width: 50%;
    min-height: 300px;
    float: left;
    padding: 20px;
}

.texto h2 {
    margin-top: 0;
    margin-bottom: 10px;
    padding-left: 5px;
    border-left: 8px solid #0EFC4E;
}

@media only screen and (max-width: 750px) {
    .bloco {
        flex-direction: column;
        height: auto;
    }

    .imagem-1,
    .imagem-2,
    .imagem-3 {
        width: 100%;
        border-radius: 10px 10px 0 0;
        /* height: 100%; */
        order: 1;
    }

    .texto {
        width: 100%;
        height: 50%;
        order: 2;
    }

    .imagem-3 {
        display: block;
    }
}
  