.customer {
    background-color: #333232;
    min-height: 200px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.customer_container {
    width: 80%;
    margin: 0 auto;
}

.customer_header {
    text-align: center;
}
.customer_header h1, p {
    color: #fff;
}

.customer_article {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}
.customer_article .image {
    background-size: cover;
    margin-top: 40px;
}
.customer_article .image img {
    width: 150px;
}

@media (max-width: 600px) {
    .customer_container {
        width: 70%;
    }
    .customer_article {
        flex-wrap: wrap;
    }
    
    .customer_article .image {
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .customer_article .image img {
        width: 100px;
    }
}